<%- include("templates/header", {title: 'Welcome to My Site!'}) %>

<div class="container mt-5">
    <!-- Hero Section -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">COMP2537 Assignment 2</h1>
            <p class="col-md-8 fs-4">Welcome to my website.</p>
            <a href="/signup" class="btn btn-primary btn-lg" role="button">Sign Up</a>
            <a href="/login" class="btn btn-secondary btn-lg ms-3" role="button">Log In</a>
        </div>
    </div>


    <%- include("templates/footer") %>