<%- include("templates/header", {title: 'Dashboard'}) %>

<div class="container mt-5">
    <!-- Welcome Message -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Hello, <%= name %>!</h1>
            <p class="fs-4">You have just signed in!</p>
        </div>
    </div>
</div>

<%- include("templates/footer") %>