<%- include("templates/header", {title: 'Logged Out'}) %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-body">
                    <h1 class="card-title mb-4">You are logged out.</h1>
                    <p class="card-text">Please click the button below to return to the home page.</p>
                    <a href="/" class="btn btn-primary">Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("templates/footer") %>
